<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration debug="true" scan="true" scanPeriod="5 seconds"> -->
<configuration scan="true" scanPeriod="5 seconds">

	<!-- <property resource="application.properties" /> -->
	<!-- <property name="LOGS" value="${log.path}" /> -->
	<springProperty name="logpath" source="log.path"/>
	<springProperty name="levelroot" source="log.level.root"/>
	<springProperty name="levelapp" source="log.level.gdc"/>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %-5level %logger -- %msg%n%throwable</Pattern>
		</layout>
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logpath}/app-log.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date %-5level %logger -- %msg%n%throwable</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${logpath}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="${levelroot}">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</root>

	<logger name="gdc" level="${levelapp}" additivity="false">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</logger>

</configuration>